::ng-deep .search-field {
    background: rgba(255, 255, 255, 0.278);
    border-radius: 10px;
}

::ng-deep .search-field .mat-mdc-form-field-infix {
  padding-left: 0px !important; /* lower value = move text left */
}


.mat-mdc-chip {
    padding: 30px 8px;
}