::ng-deep .institution-field .mdc-floating-label {
  left: 100px !important; 
}

::ng-deep .institution-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .institution-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 70px !important;
}

::ng-deep .department-field .mdc-floating-label {
  left: 60px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .department-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .department-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 40px !important;
}

::ng-deep .result-field .mdc-floating-label {
  left: 65px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .result-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .result-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 45px !important;
}

::ng-deep .jobTitle-field .mdc-floating-label {
  left: 40px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .jobTitle-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .jobTitle-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 25px !important;
}

::ng-deep .email-field .mdc-floating-label {
  left: 20px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .email-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .email-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 15px !important;
}

::ng-deep .name-field .mdc-floating-label {
  left: 20px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .name-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .name-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 15px !important;
}

::ng-deep .degree-field .mdc-floating-label {
  left: 20px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .degree-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .degree-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 25px !important;
}


::ng-deep .passingYear-field .mdc-floating-label {
  left: 40px !important; /* adjust distance from icon */
}

/* When label floats (focus/typing), reset to normal */
::ng-deep .passingYear-field .mdc-floating-label--float-above {
  left: 0px !important;
}

::ng-deep .passingYear-field .mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding: 20px 60px !important;
}
